/* source for most of this: https://www.w3schools.com/howto/howto_css_calendar.asp */

.calendar {
    justify-content: center;
    width: 85%;
    margin-top: 5rem;
    box-shadow: 0px 15px 25px 10px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
}

.month {
    padding: 70px 25px;
    background: #B43F6B;
    width: auto;
  }

.month-pokemon {
    width: 30px;
    height: auto;
}

.month, .days {
    text-align: center;
}

.month ul, .days {
    margin: 0;
}
  /* Month list */
.month ul {
    padding: 0;
    list-style: none;
}
.num-days li {
    width: calc(100% / 7);
    height: auto;
    display: inline-block;
    list-style-type: none;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
    padding: 0.5rem;
    text-align: left;
    /*float: left;*/
}

.weekdays li {
    display: inline-block;
    width: calc(100% / 7);
    font-size: 12px;
    color: #666;
}


.month ul li, .change-month {
    color: white;
    font-size: 12px;
}

.change-month {
    background-color: #B43F6B;
    border: none;
    padding-top: 10px;
}

.change-month:hover {
    color: #666;
}

.month ul li {
    text-transform: uppercase;
    letter-spacing: 3px;
}

  /* Previous button inside month header */

.prev {
    float: left;
}

.next {
    float: right;
}

.month-name {
    display: inline-flex;
}
  /* Next button */


.weekdays, .num-days {
    padding: 10px 0;
}

  /* Weekdays (Mon-Sun) */
.weekdays {
    display: flex;
    background-color:#ddd;
}

  /* Days (1-31) */
.num-days {
    background: #eee;
    display: flex;
    flex-wrap: wrap;
}



.num-days li:hover {
    background-color: #CBD6EA;
}

.event-pokemon {
    width: 20px;
    height: auto;
    margin: 0;
    padding: 0;
}

.show-event {
    padding: 0.4rem;
}

.scheduled-event {
    display: none;
    background-color: #5F51A6;
    color: #DBD9E6;
    border-radius: 5px;
    padding: 1rem;
    min-width: 100px;
}

.show-event:hover .scheduled-event {
    display: block;
}



  /* Highlight the "current" day */

.event-page {
    margin-top: 3rem;
}

.pick-date {
    margin: 3rem;
}

input {
    margin: .4rem 0;
}

form, .submit {
    display: none;
}

.event-form {
    margin-top: 3rem;
}

@media (min-width: 425px) {
    .month-name {
        display: inline-block;
    }
}

@media (min-width: 600px) {
    .month-pokemon {
        width: 50px;
    }
}

@media (min-width: 680px) {
    .weekdays li {
        font-size: 20px;
    }

    .num-days li {
        padding: 2rem;
    }

    .month ul li, .change-month {
        font-size: 20px;
    }

    .month-name {
        display: list-item;
    }

    .show-event {
        padding: 1.9rem;
    }
}


@media (min-width: 823px) {
    .weekdays {
        display: inline-block;
    }

    .weekdays li {
        width: 13.6%;
    }

    .month-pokemon {
        width: 100px;
    }
}


